
/* -------------------- 게시판 공통 -------------------- */
.bbs_explain_top {padding:20px;border:1px solid #dadada;border-top:2px solid #181818;background:none;}
.bbs_explain_top .bbs_explain_inside{ padding:15px;background:#fff}
.bbs_explain_top .bbs_explain_inside h3{margin-top:0;}
.bbs_explain_top ul{margin-left:0;}
.bbs_explain_top .subject {position:relative;padding-left:20px;margin-bottom:5px;color:#3e61ae;font-size:23px;line-height:26px;}
.bbs_explain_top .subject:before{display:inline-block;position:absolute;left:0;top:5px;width:10px;height:15px;content:"";background:url('/common/images/sub/template.png') no-repeat -40px -160px;}
.bbs_explain_top .simple_img_box{ position:relative; min-height:80px;padding:0 0 0 120px;}
.bbs_explain_top .simple_img_box .simple_img{ position:absolute;left:20px;top:0; width:73px; height:73px;background-image:url("/common/images/sub/simple_icon.gif"); background-repeat:no-repeat;background-position:center top;}

/* 게시판 이동 */
.move_post{margin-top:30px;text-align:right;}
.move_post select{width:45%;}
.move_post .btn{vertical-align:middle;}

/* 게시물 삭제여부 */
.bbs_right .delete_area select{width:70%;}
@media only screen and (max-width:640px) {
	.bbs_explain_top .simple_img_box{ padding-left:100px;}
	.bbs_explain_top .simple_img_box .simple_img { left:0;}

	/* 게시판 이동 */
	.move_post{text-align:center;}
	.move_post select{width:100%;margin-bottom:15px;}

	/* 게시물 삭제여부 */
	.bbs_right .delete_area select{width:100%;}
}

@media only screen and (max-width:450px) {
	.bbs_explain_top .simple_img_box{ padding-left:0;}
	.bbs_explain_top .simple_img_box .simple_img { position:static; width:100%; margin-bottom:20px; }
}


.bbs_explain_bottom {margin-top:30px;padding:6px;border:1px solid #eaeaea;background: url('/common/images/board/explain_bg.png');}
.bbs_explain_bottom  .bbs_explain_inside{padding:15px;background:#fff}
.bbs_explain_bottom ul{margin-left:0;}

.bbs_search {margin-top:30px;padding:33px 0;border:1px solid #e9e9e9;background:#fafafa;text-align:center;}
.bbs_search select{height:37px;}
.bbs_search input{min-width:98px;height:auto;padding:7px 0 7px;font-size:15px;line-height:21px;text-align:center;}
.bbs_search input[type="text"]{width:220px;height:37px;padding:0 13px;line-height:35px;text-align:left;box-sizing:border-box;}
.bbs_search .submit{border:1px solid #000;background-color:#000;color:#fff;}
.bbs_search .reset{border:1px solid #4d5360;background-color:#fff;color:#444;}
.submit{border:1px solid #000;background-color:#000;color:#fff !important; padding:5px 30px;font-size:15px;line-height:21px;}

.bbs_search.type2 {margin-top:30px;padding:34px 0;border:1px solid #e9e9e9;background:#fafafa;text-align:center;}
.bbs_search.type2 select{height:38px;}
.bbs_search.type2 .input_text{width:220px;padding-left:13px;margin:0 5px;height:38px;box-sizing:border-box;text-align:left;}
.bbs_search.type2 .submit{padding:9px 38px;border:none;background-color:#000;}
.bbs_search.type2 .reset.type2{padding:8px 31px;}

.bbs_info {margin-top:30px;}
.bbs_count{color:#444;}
.bbs_count .division_line{margin-left:23px;}
.bbs_rss {display:inline-block;width:14px;height:14px;background: url('/common/images/board/bbs_icon.png') no-repeat -100px -150px;font-size:0;line-height: 0;vertical-align: middle}

.bbs_category {}
.bbs_category form{display:inline-block;}
.bbs_category .submit{padding:0 15px;border: 1px solid #686868;background:#686868;color: #fff;}
.bbs_category .submit:hover{border: 1px solid #151515;background:#151515;}

.bbs_category_list {margin-top:30px;border:2px solid #e9e9e9}
.bbs_category_list ul { padding: 10px; text-align: left; }
.bbs_category_list ul li {display:inline;float:left; margin:3px 3%;padding-left: 8px;background: url('/common/images/board/bu_gray.gif') no-repeat 0 10px;white-space: nowrap; }

@media only screen and (max-width:640px) {
    .bbs_search {padding:0;}
    .bbs_search form{margin:15px 3%}
    .bbs_search select{width:100%;margin:2px 0;}
    .bbs_search span{display:block}
    .bbs_search input[type="text"] {width:100%;margin:2px 0;padding-left:0;padding-right:0;text-align: center;}
	.bbs_search.type2 .input_text{width:100%;margin:0;}
    .bbs_search .submit,.bbs_search .reset{width:100%;margin:2px 0;}
    .bbs_count.bbs_left {margin-top:0;margin-bottom:10px}
}

.bbs_ico {display:inline-block;background: url('/common/images/board/bbs_icon.png') no-repeat;margin-left:5px;vertical-align: middle;font-size:0;line-height:0; }
.bbs_ico.new{width:26px;height:11px;background-position:0 0}
.bbs_ico.hot{width:26px;height:11px;background-position:-50px 0}
.bbs_ico.delete{width:23px;height:11px;margin-left:0;margin-right:5px;background-position:-100px 0}
.bbs_ico.secret{width:16px;height:15px;margin-left:0;margin-right:5px;background-position:-150px -50px}
.bbs_ico.reply{width:25px;height:15px;margin-left:0;margin-right:5px;background-position:-200px -49px}
.bbs_comment{display:inline-block;height:15px;margin-left:8px;padding-left:18px;background: url('/common/images/board/bbs_icon.png') no-repeat 0 -150px;color:#888;font-size:0.85em;}

/* 페이징 */
.pagination {position:relative;margin-top:25px;text-align:center;}
.pagination a, .pagination strong{display:inline-block;width:26px;height:26px;margin-left:2px;margin-right:2px;text-align:center;font-size:13px;color:#252525;line-height:28px;letter-spacing:-2px;vertical-align:middle;}
.pagination a{border:solid 1px #dedede;background:#fff}
.pagination strong{border:solid 1px #353535;background:#353535;color:#fff;font-weight:normal;}
.pagination span.page_btn {display:inline-block;margin:0 5px}
.pagination span.page_btn a{width:26px;height:26px;background: url("/common/images/board/bbs_icon.png") no-repeat;font-size:0;line-height:0;text-indent:100%;}
.pagination span.page_btn img{vertical-align:middle}
*:first-child+html .pagination span.page_btn a{text-indent:0}
.pagination span.page_btn .prev_end {background-position: 7px -92px;}
.pagination span.page_btn .prev{background-position: -40px -92px;}
.pagination span.page_btn .prev_one{display:none;background:none;}
.pagination span.page_btn .next_one{display:none;background:none;}
.pagination span.page_btn .next{background-position: -90px -92px;}
.pagination span.page_btn .next_end {background-position: -143px -92px;}

@media only screen and (max-width:640px) {
    .pagination span.page{display:none}
    .pagination span.page_btn{margin:0}
    .pagination span.page_btn a{width:40px;height:40px;background-color:#fafafa;line-height:42px}
    .pagination span.page_btn .prev,.pagination span.page_btn .next {display:none}
    .pagination .page_btn.prev_group{width:48%;text-align:right}
    .pagination .page_btn.next_group{width:48%;text-align:left}
    .pagination span.page_btn i{display:inline-block;width:24px;height:100%;background: url("/common/images/board/bbs_icon.png") no-repeat;vertical-align: middle}
    .pagination span.page_btn .prev_end {background-position: 15px -85px;}
    .pagination span.page_btn .prev_one, .pagination span.page_btn .next_one{display:inline-block;width:auto;min-width:55%;background:#fafafa;font-size:inherit;text-indent: 0}
    .pagination span.page_btn .prev_one {padding-right:10px;}
    .pagination span.page_btn .prev_one i{background-position : -45px -85px;}
    .pagination span.page_btn .next_one {padding-left:10px;}
    .pagination span.page_btn .next_one i{background-position : -90px -85px;}
    .pagination span.page_btn .next_end {background-position: -136px -85px;}
}
@media only screen and (max-width:359px) {
    .pagination span.page_btn .prev_end {display:none}
    .pagination span.page_btn .prev_one, .pagination span.page_btn .next_one{min-width:80%}
    .pagination span.page_btn .next_end {display:none}
}

.bbs_btn_wrap {margin-top:30px}
.bbs_left {float:left;}
.bbs_right {float:right;text-align:right;}
.bbs_center {text-align: center}
.bbs_btn_wrap .bbs_btn {display:inline-block;margin-top:0;border:1px solid #aaa;background:#fefefe;color:#222; line-height: 32px;text-decoration: none;vertical-align: top}
.bbs_btn_wrap .bbs_btn:hover{border:1px solid #222;background-color:#222;color:#fff}
.bbs_btn_wrap .bbs_btn span{display:inline-block;padding:0 25px;}
.bbs_btn_wrap input.bbs_btn {height:34px;padding:0 25px;}

.bbs_btn_wrap .bbs_btn.restore{margin-left:10px;border:1px solid #e76440;background-color:#f1552b;color:#fff}
.bbs_btn_wrap .bbs_btn i.icon{display:inline-block;}
.bbs_btn_wrap .bbs_btn.write {border:1px solid #333;background:#333;color:#fff}
.bbs_btn_wrap .bbs_btn.write i.icon{}  /* 아이콘등  background 삽입 */
.bbs_btn_wrap .bbs_btn.list{border:1px solid #333;background:#333;color:#fff}
.bbs_btn_wrap .bbs_btn.reply_write{border:1px solid #333;background:#333;color:#fff}
@media only screen and (max-width:640px) {
    .bbs_btn_wrap .bbs_btn.admin{display:none}
}
@media only screen and (max-width:414px) {
	.bbs_left,.bbs_right{float:none;}
}

/* 게시글 이동 */
.bbs_list_move {margin-top:50px;padding:15px 0;border:1px solid #e9e9e9; background:#fafafa;text-align:center;}
.bbs_list_move form{margin:3px 10px;}
.bbs_list_move form:first-child{margin-right:40px;}
.bbs_list_move form, .bbs_list_move form fieldset{display:inline}
.bbs_list_move select{min-width:150px;padding:4px 0;border:1px solid #d1d1d1;font-size:1em;}
.bbs_list_move button {margin:1px 0;padding:0 10px;height:28px;border:1px solid #686868;background:#686868;color:#fff;line-height:24px;vertical-align: middle;text-decoration: none}

@media only screen and (max-width:640px) {
    .bbs_btn_wrap .bbs_btn span{display:inline-block;padding:0 15px;}
    .bbs_list_move form{margin:3px 0;}
    .bbs_list_move form:first-child{margin-right:0;}
    .bbs_list_move form, .bbs_list_move form fieldset{display:block}
    .bbs_list_move button {height:36px;box-sizing: border-box;line-height:36px;}
    .bbs_list_move select{height:36px;box-sizing: border-box;line-height:36px;}
    .bbs_list_move select{width:200px}
}

/* sns */
.bbs_sns{margin-bottom:5px;}
.bbs_sns li{display:inline-block;overflow:hidden;float:left;position:relative;margin-left:2px;font-size:0;line-height:0;}
.bbs_sns li a{display:block;width:30px;height:30px;background:url("/common/images/board/ico_sns.png") no-repeat left top;text-indent: 100%}
.bbs_sns li a:focus{outline-offset:-2px;}
.bbs_sns li a.facebook{background-position: 0 0}
.bbs_sns li a.twitter{background-position: -50px 0}
.bbs_sns li a.band{background-position: -100px 0}
.bbs_sns li a.kakaostory{background-position: -150px 0}
.bbs_sns li a.kakaotalk{background-position: -200px 0}
.bbs_sns li a.instar{background-position: 0 -50px}
.bbs_sns li a.pin{background-position: -50px -50px}
.bbs_sns li a.youtube{background-position: -100px -50px}
.bbs_sns li a.blog{background-position: -150px -50px}

@media only screen and (max-width:640px) {
    .bbs_sns{margin-bottom:5px;}
}


/* 게시물 없음 */
.bbs_empty{margin-bottom:20px;padding:40px 0;border-bottom:1px solid #e9e9e9;text-align:center;}


/* 기본게시판 */
table.bbs_default.list{width:100%;border-collapse:collapse;margin-top:5px;}
table.bbs_default.list thead tr:first-child th{border-top: 2px solid #151515;border-bottom:1px solid #aaa}
table.bbs_default.list th{padding:12px 10px;border-bottom:1px solid #d9d9d9; text-align:center;font-weight:500;}
table.bbs_default.list td{padding:12px 10px;border-bottom:1px solid #d9d9d9;color:#737373;/*text-align:center;*/}
table.bbs_default.list td.subject{text-align:left}
table.bbs_default.list td.subject a{display:inline}
table.bbs_default.list .delete td{color:#aaa;}
table.bbs_default.list .delete td.subject a{color:#aaa  }
table.bbs_default.list td img{margin-left:5px;vertical-align: middle}
table.bbs_default.list .notice td{background:#fafafa;font-weight:500;color:#333}
table.bbs_default.list .notice a{font-weight:500;color:#333}
table.bbs_default.list .notice .noticeItem{}
table.bbs_default.list .empty{padding:40px 0;text-align:center;}
table.bbs_default.list .delete .delete_info{font-size:0.9em;color:#2e84d1}
table.bbs_default.list .btn.small{padding:9px 0;min-width:100px;box-sizing:border-box;text-align:center;}
table.bbs_default.list.table thead tr:first-child th{border-top:1px solid #4d5360;border-bottom:none;font-weight:600;}
@media only screen and (max-width:640px){
    .bbs_explain_top ul{margin-left:0;}
    .bbs_explain_bottom ul{margin-left:0;}
    table.bbs_default.list colgroup{display:none}
    table.bbs_default.list thead th{display:none;}
    table.bbs_default.list tbody {border-top: 1px solid #151515;}
    table.bbs_default.list tbody tr{display:block;padding:4px 0;border-bottom:1px solid #d9d9d9;}
    table.bbs_default.list tbody tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
    table.bbs_default.list tbody tr{display: inline-block;}
    table.bbs_default.list tbody tr{display: block;}
    table.bbs_default.list tbody tr:nth-child(odd) {background:#f8f8f8}
    table.bbs_default.list tbody td{display:block;float:left;clear:left;width:100%;padding: 3px 10px 3px;border:none;text-align:left;box-sizing:border-box }
    table.bbs_default.list tbody td.subject{width:auto;}
    table.bbs_default.list [data-cell-header]:before {	content: attr(data-cell-header); 	display: inline-block; }
    table.bbs_default.list .checkbox{display:none}
	table.bbs_default.list.table tbody > tr > th{border:none;background:none;}

    .bbs_search {padding:0;}
    .bbs_search form{margin:15px 3%}
    .bbs_search select{width:100%;margin:2px 0;}
    .bbs_search .input_text {width:100%;margin:2px 0;padding-left:0;padding-right:0;text-align: center;}
    .bbs_search .submit{width:100%;margin:2px 0;}
}
/* 기본게시판(list) 미리보기 & 다운로드 아이콘 */
.bbs_default.list .bbs_file{display:inline-block;width:28px;height:28px;border:1px solid #868686;background-color:#f6f6f6;background-repeat:no-repeat;font-size:1px;line-height:1px;color:transparent;vertical-align:middle;text-decoration:none;}
.bbs_default.list .bbs_file:after{display:none;}
.bbs_default.list .bbs_file.view{background-image:url('/common/images/board/bbs_icon.png');background-position:-92px -42px;}
.bbs_default.list .bbs_file.down{background-image:url('/common/images/sub/template.png');background-position:-73px -33px;}

/* 기본 게시판 view */
table.bbs_default {width:100%; border-collapse: collapse; margin:0; }
table.bbs_default.view tr:first-child th,table.bbs_default.view tr:first-child td{border-top: 2px solid #151515;}
table.bbs_default.view th{width:20%;padding:12px 10px;border-bottom:1px solid #d9d9d9;background:#f8f8f8;font-weight:500;text-align:center;vertical-align:middle;}
table.bbs_default.view td{padding:12px 10px 12px 25px;border-bottom:1px solid #d9d9d9;}
table.bbs_default.view thead tr:first-child th{border-top: 2px solid #151515;border-bottom:1px solid #aaa}
table.bbs_default.view .subject td{font-weight:500}
table.bbs_default.view .subject.delete .subject_text{font-weight:400;color:#888}
table.bbs_default.view .delete .delete_info{font-size:0.9em;color:#2e84d1}
table.bbs_default.view .bbs_content {min-height:150px;text-align:left; word-break:break-all;}
table.bbs_default.view .bbs_content img{max-width:640px;height:auto;}
table.bbs_default.view .bbs_content .photo_area{text-align:center;}
table.bbs_default.view .bbs_content .photo_view{position:relative;width:auto;margin:15px auto 25px;font-size:0;line-height: 0;}
table.bbs_default.view .bbs_content .photo_view .photo_wrap{display:inline-block;position:relative;}
/* table.bbs_default.view .bbs_content .photo_view img{max-width:640px;max-height:480px;padding:5px;border:1px solid #eee;} */
table.bbs_default.view .bbs_content .photo_view img{max-width:640px;max-height:100%;padding:5px;border:1px solid #eee;}
table.bbs_default.view .bbs_content .photo_zoom{display:block;overflow:hidden;position:absolute;bottom:7px;right:7px;z-index:10;width:25px;height:25px;padding:6px;background:url("/common/images/board/mask.png");font-size:12px;}
table.bbs_default.view .bbs_content .photo_zoom a{display:block;width:25px;height:25px;background: url('/common/images/board/bbs_icon.png') no-repeat 0 -200px;font-size:0;line-height:0;text-indent: 100%;}
table.bbs_default.view  ul.view_attach{}
table.bbs_default.view  ul.view_attach li{margin:1px 0}
table.bbs_default.view  ul.view_attach li img{margin-right:5px;vertical-align:middle;}
table.bbs_default.view  ul.view_attach li .file_size{margin-left:10px; font-size:11px;letter-spacing:-1px;font-family : 'dotum'; color:#2e84d1}
table.bbs_default.view  ul.view_attach li .download_num{margin-left:10px; font-size:11px;letter-spacing:-1px; font-family : 'dotum'; color:#2e84d1}
table.bbs_default.view  .bbs_attach_preview {display:inline-block;height:20px;line-height:20px;margin-left:5px;padding-left:8px;border:1px solid #686868;background:#686868;color:#fff;font-size:0.9em;vertical-align: middle}
table.bbs_default.view  .bbs_attach_preview .ico_preview{display:inline-block;width:20px;height:20px;margin:0 0 1px 10px;background:#fff url("/common/images/board/bbs_icon.png") no-repeat -95px -46px;vertical-align: top}

@media only screen and (max-width:640px){

    table.bbs_default.view tr{display:block;padding:4px 0;}
    table.bbs_default.view tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
    table.bbs_default.view tr{display: inline-block;}
    table.bbs_default.view tr{display: block;}
    table.bbs_default.view th{display:block;float:left;clear:left;width:100%;padding:10px 3% 0;border:none;background:none;color:#222;text-align: left;box-sizing:border-box }
    table.bbs_default.view td{display:block;float:left;clear:left;width:100%;padding:0 3% 10px;box-sizing:border-box }
    table.bbs_default.view tr:first-child th{border-bottom:none}
    table.bbs_default.view tr:first-child td{border-top: none}
    table.bbs_default.view .bbs_content img{width:100%;max-width:none;height:auto;}
    table.bbs_default.view .bbs_content .photo_view{width:100%}
    table.bbs_default.view .bbs_content .photo_view img{max-width:100%;max-height:600px;padding:0;border:none;}
    /*table.bbs_default.view  ul.view_attach li a:not(.bbs_attach_preview){display:block}*/
    table.bbs_default.view  ul.view_attach li .file_size{margin-left:22px}
    table.bbs_default.view input[type="radio"], table.bbs_default.view input[type="checkbox"]{width:auto;height:auto;padding-left:0;}
}
@media only screen and (max-width:500px) {
    table.bbs_default.view tr{border-bottom:none}
    table.bbs_default.view th{display:block;width:94%;padding:10px 3% 0;background:none;text-align: left}
    table.bbs_default.view td{display:block;width:94%;padding:0 3% 10px}
    table.bbs_default.view [data-cell-header]:before {content: attr(data-cell-header); display: inline-block; }
}

/* 파일 다운, 미리보기 */
.view_attach .down_view > a{display:inline-block;padding:0 15px;line-height:26px;text-align:center;vertical-align:middle;}
.view_attach .down_view .file_down{border:1px solid #51565e;background-color:#51565e;color:#fff;}
.view_attach .down_view .file_view{border:1px solid #4d5360;background-color:#fff;color:#444;}
@media only screen and (max-width:640px) {
	.view_attach .down_view > span{display:block;margin-bottom:5px;}
}

/* == 파일 다운, 미리보기 : 기본 작은버튼 == */
/*.down_view{display:inline-block;position:relative;min-width:57px;min-height:28px;padding:0;background-color:#fff;border:1px solid #868686;vertical-align:middle;}
.down_view:hover{text-decoration:none;}
.down_view span{display:block;margin:0 70px 0 10px;color:#262626;font-size:15px;line-height:28px;vertical-align:middle;}
.down_view.type4{min-height:22px;}
.down_view.type4 span{line-height:22px;}
.down_view.single span{margin:0 40px 0 10px;}
.down_view a,.down_view > i{display:block;position:absolute;top:0;right:0;bottom:0;width:28px;background-color:#f6f6f6;border-left:1px solid #868686;color:transparent;font-size:1px;line-height:1px;}*/
/* - 아이콘 지정 - */
/*.down_view a i,.down_view i i{display:block;position:absolute;top:0;left:0;bottom:0;width:100%;height:28px;margin:auto 0;background:url('/common/images/sub/template_icon2.png') no-repeat;}
.down_view .file_down{right:29px;}
.down_view.type2 .file_down{background-color:#657471;border-color:#657470;}
.down_view.type3 .file_down{background-color:#229472;border-color:#229471;}
.down_view.type4 .file_down{background-color:#929daa;border-color:#929da9;}
.down_view .file_down i{background-position:-212px -30px;}
.down_view .file_view{right:0;}
.down_view.type2 .file_view{background-color:#435955;border-color:#435954;}
.down_view.type3 .file_view{background-color:#115440;border-color:#115441;}
.down_view.type4 .file_view{background-color:#929daa;border-color:#929da9;}
.down_view .file_view i{background-position:-146px -28px;}
.down_view .file_link{right:0;}
.down_view.type4 .file_link{background-color:#929daa;border-color:#929da9;}
.down_view .file_link i{background-position:-269px -32px;}
.down_view .file_blank i{background-position:-179px -21px;}
.down_view .tel i{background-position:-296px -29px;}
.down_view .email i{background-position:-329px -28px;}*/

/* 답변 */
table.bbs_default.view.reply {margin-top:30px}
table.bbs_default.view.reply textarea.answer{width:100%;height:200px;padding:5px 0;overflow:auto;}
table.bbs_default.view.reply td .attach li{padding:5px 0;}
table.bbs_default.view.reply td .attach li:first-child{border:none}
table.bbs_default.view.reply td .attach li > div:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
table.bbs_default.view.reply td .attach li > div {display: inline-block;}
* html table.bbs_default.view.reply td .attach li > div {height: 1%;}
table.bbs_default.view.reply td .attach li > div {display: block;}
table.bbs_default.view.reply td .attach_alt{position:relative;}
table.bbs_default.view.reply td .attach_file{position:relative;}
table.bbs_default.view.reply td .attach_file .file_label{position:absolute;top:7px;left: 0;width:14px;height:21px;background: url('/common/images/board/bbs_icon.png') no-repeat -50px -150px;font-size:0;text-indent: 100%;vertical-align: middle}
table.bbs_default.view.reply td .attach_file .file_input {display:inline-block;width:76%;margin-left:23px;margin-right:8px;}
table.bbs_default.view.reply td .attach_file .file_input input{width:100%;}
*:first-child+html table.bbs_default.view.reply .file_label{text-indent:0}
table.bbs_default.view.reply td .attach_alt .alt_label {position:absolute;top:5px;left: 0;width:16px;height:21px;background: url('/common/images/board/bbs_icon.png') no-repeat 0 -150px;font-size:0;text-indent: 100%;}
table.bbs_default.view.reply td .attach_alt .alt_input {display:block;margin-left:23px}
table.bbs_default.view.reply td .attach_alt .alt_input input{width:100%;}
@media only screen and (max-width:640px) {
    table.bbs_default.view.reply .content_in {display:block;margin-bottom:5px}
}

/* 이전글 다음글 */
.bbs_view_move {margin-top:30px;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.bbs_view_move li{}
.bbs_view_move li strong{display:inline-block;width:20%;padding:12px 0;background:#f8f8f8 no-repeat 25% center;text-align:center;vertical-align: middle}
.bbs_view_move li a{display:inline-block;overflow: hidden;width:75%;margin-left:2%;white-space: nowrap;text-overflow: ellipsis;vertical-align: middle}
.bbs_view_move li.prev{border-bottom:1px solid #e9e9e9;}
.bbs_view_move li.prev strong {background-image : url('/common/images/board/ico_move_prev.gif');}
.bbs_view_move li.next strong {background-image : url('/common/images/board/ico_move_next.gif');}
@media only screen and (min-width:501px)  and (max-width:640px){
    .bbs_view_move li strong{background-position:20% center}
}
@media only screen and (max-width:500px){
    .bbs_view_move li strong{background:#f8f8f8 !important;}
}

/* 댓글 */
.bbs_reply_form {position:relative;margin-top:50px;padding:10px;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;background:url('/common/images/board/board_cnt_bg.gif') repeat left top;}
.bbs_reply_form .bbs_reply_title {position:absolute;left:25px;top:17px;padding:0;color:#404040;line-height:30px;letter-spacing:-1px;}
.bbs_reply_form .bbs_reply_text {margin:0 130px 0 100px;}
.bbs_reply_form textarea{overflow:auto;width:96%;height:30px;min-height:30px;padding:10px 2%;}
.bbs_reply_form .bbs_reply_btn {position:absolute;top:10px;right:20px;}
.bbs_reply_form .bbs_reply_btn .submit{height:50px;padding:1px 15px;border: 1px solid #686868;background:#686868;color: #fff;line-height:40px;}
.bbs_reply_form .bbs_reply_btn .submit:hover{border: 1px solid #151515;background:#151515;}
.bbs_reply_list {margin-top:15px;}
.bbs_reply_list .bbs_reply_text {padding-top:4px;}
.bbs_reply_list ul{margin-top:5px;border-top: 1px solid #151515;}
.bbs_reply_list ul li{padding:7px;border-bottom:1px dotted #ccc;}
.bbs_reply_list ul li .name{color:#333}
.bbs_reply_list ul li .date{color:#999;margin-left:10px;font-size: 0.9em;}
.bbs_reply_list ul li .delete{width:16px;height:16px;margin:0 0 0 10px;padding:0;border:none;background: url('/common/images/board/bbs_icon.png') no-repeat -150px -150px;font-size:0;line-height:0;text-indent:100%;}

@media only screen and (max-width:640px){
    .bbs_reply_form .bbs_reply_title strong{display:inline;margin-right:5px;}
    .bbs_reply_form .bbs_reply_title {position: relative;left:0;top:0}
    .bbs_reply_form .bbs_reply_btn {position: relative;left:0;top:0}
    .bbs_reply_form .bbs_reply_text {margin:5px 0 0}
    .bbs_reply_form textarea{height:auto;min-height:50px;}
    .bbs_reply_form .bbs_reply_btn .submit{width:100%;box-sizing: border-box;}
}

/* 기본게시판 write */
.exactly {display: inline-block;width: 12px; height: 12px; font-size: 0; text-indent: 100%;vertical-align: middle}
.exactly.y {background: url('/common/images/board/bbs_icon.png') no-repeat 0 -50px;}
.write_guide{margin-top :25px;}

table.bbs_default.write {width:100%;margin-top:5px;border-collapse:collapse;}
table.bbs_default.write tr:first-child th,table.bbs_default.write tr:first-child td{border-top: 1px solid #4d5360;}
table.bbs_default.write th{width:20%;padding:8px 10px;border-bottom:1px solid #dadada;background:#f9f9f9;font-weight:500;text-align:center;vertical-align:middle;}
table.bbs_default.write thead tr:first-child th{border-top: 2px solid #151515;border-bottom:1px solid #aaa}
table.bbs_default.write td{padding:8px 25px;border-bottom:1px solid #dadada;border-left:1px solid #dadada;}
table.bbs_default.write img{vertical-align: middle}
table.bbs_default.write td label{margin-right:10px}

table.bbs_default.write .subject input{width:100%;}
table.bbs_default.write .date{width:100px;border:none;text-align:center}
table.bbs_default.write .date_wrap{display:inline-block;border:1px solid #e9e9e9}
table.bbs_default.write .ico_calenedar,.bbs_search .date_wrap .ico_calenedar{display:inline-block;width:20px;height:20px;margin:0 3px;background: url(/common/images/board/bbs_icon.png) no-repeat -48px -48px;vertical-align: middle}
table.bbs_default.write .ico_calenedar button,.ico_calenedar button{display:inline-block;width:20px;height:20px;font-size:0}
table.bbs_default.write .phone {width:80px; text-align: center}
table.bbs_default.write .zipcode{width:80px; text-align: center}
table.bbs_default.write .addr_left {float:left;width:48%}
table.bbs_default.write .addr_right {float:right;width:50%}
table.bbs_default.write .addr{width:100%;}
table.bbs_default.write .addr2{width:100%;}
table.bbs_default.write .bbs_btn_small {padding:0 6px;border:1px solid #686868;background:#686868;color:#fff;text-decoration: none}
table.bbs_default.write .bbs_content {width:100%;min-height:250px;padding:5px 3px;}
table.bbs_default.write .attach li{padding:5px 0;}
table.bbs_default.write .attach li:first-child{border:none}
table.bbs_default.write .attach li > div:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
table.bbs_default.write .attach li > div {display: inline-block;}
* html table.bbs_default.write .attach li > div {height: 1%;}
table.bbs_default.write .attach li > div {display: block;}
table.bbs_default.write .attach_alt{position:relative;}
table.bbs_default.write .attach_file{position:relative;}
table.bbs_default.write .attach_file .file_label{position:absolute;top:7px;left: 0;width:16px;height:21px;background: url(/common/images/board/bbs_icon.png) no-repeat -50px -150px;font-size:0;text-indent: 100%;vertical-align: middle}
*:first-child+html table.bbs_default.write .file_label{text-indent:0}
table.bbs_default.write .attach_file .file_input {display:inline-block;width:76%;margin-left:23px;margin-right:8px;}
table.bbs_default.write .attach_file .file_input input{width:100%;}
table.bbs_default.write .attach_alt .alt_label {position:absolute;top:5px;left: 0;width:16px;height:21px;background: url(/common/images/board/bbs_icon.png) no-repeat -200px -148px;font-size:0;text-indent: 100%;}
*:first-child+html table.bbs_default.write .alt_label {text-indent:0}
table.bbs_default.write .attach_alt .alt_input {display:block;margin-left:23px}
table.bbs_default.write .attach_alt .alt_input input{width:100%;}

@media only screen and (max-width:640px){
    table.bbs_default.write tr{display:block;padding:4px 0;}
    table.bbs_default.write tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
    table.bbs_default.write tr{display: inline-block;}
    table.bbs_default.write tr{display: block;}
    table.bbs_default.write th{display:block;float:left;clear:left;width:100%;padding:10px 3% 0;border:none;background:none;color:#222;text-align: left;box-sizing:border-box }
    table.bbs_default.write td{display:block;float:left;clear:left;width:100%;padding:0 3% 10px;box-sizing:border-box }
    table.bbs_default.write tr:first-child th{border-bottom:none}
    table.bbs_default.write tr:first-child td{border-top: none}
    table.bbs_default.write input.date{}
    table.bbs_default.write .addr_left {float:none;width:100%}
    table.bbs_default.write .addr_right {float:none;width:100%}
    table.bbs_default.write [data-cell-header]:before {	content: attr(data-cell-header); 	display: inline-block; }
    table.bbs_default.write .content_in {display:block;margin-bottom:5px}
    table.bbs_default.write input[type="radio"], table.bbs_default.write input[type="checkbox"]{width:auto;height:auto;padding-left:0;}
}

/* FAQ 게시판 */
.bbs_faq{border-top: 2px solid #151515;}
.bbs_faq .list{width:100%;padding:0;}
.bbs_faq .list > dt{display:block;position:relative;border-bottom:1px solid #e9e9e9}
.bbs_faq .list > dt button{display:block;height:auto;width:100%;padding:8px 0;border:none;text-align: left;line-height: 1.8em;vertical-align: middle}
.bbs_faq .list > dt button .faq_category{position:absolute;left:5px; top:8px;margin:0 10px 0 0;padding:0 15px;background:#666;color:#fff}
.bbs_faq .list > dt button .faq_question {display:inline-block;margin:0 30px 0 75px}
.bbs_faq .list > dd{display:none;position:relative;padding-bottom:10px;border-bottom: 1px solid #ccc;background:#f8f8f8}
.bbs_faq .list > dd .faq_answer {margin:0 15px 0 75px;padding: 8px 0}
.bbs_faq .list > dd .faq_answer > span{position:absolute;left:5px;top:8px;margin:0 10px 0 0;padding:0 15px;border:1px solid #ccc;background:#fff;}
.bbs_faq .list > dd .bbs_faq_btn {margin-right:15px;text-align: right}
.bbs_faq .list > dd .bbs_faq_btn button{display:inline-block;height:26px;padding:0 10px;border:1px solid #ccc;background:#fff;}
.bbs_faq .list > dd .bbs_faq_btn a{display:inline-block;height:26px;margin:1px 0;padding:0 10px;border:1px solid #ccc;background:#fff;line-height:24px;}
.bbs_faq .list>dt{background: url("/common/images/board/faq_down.gif") no-repeat right 16px;}
.bbs_faq .list>dt.active{background-image: url("/common/images/board/faq_up.gif");}

/* 동영상 게시판 */

/*  width, height 조정시 수정 필요
.bbs_movie ul.list li 의 width, min-height
.bbs_movie ul.list li a .photo 의 line-height
.bbs_movie ul.list li a .photo img 의  max-height
 */

.bbs_movie{overflow:hidden;width:100%;margin:5px 0;border-top: 2px solid #151515; border-bottom: 1px solid #e9e9e9;}
.bbs_movie ul.list {width:104%;margin:10px -1.4%;}
.bbs_movie ul.list li{display:inline;float:left;overflow:hidden;width:30%;margin:10px 1.4% 15px;min-height:180px;background:#fff}
.bbs_movie ul.list li a {display:block;position:relative;border:1px solid #e9e9e9;text-align: center}
.bbs_movie ul.list li a span{display:inline-block;}
.bbs_movie ul.list li a .photo {display:block;overflow:hidden;position:relative;max-width:100%;height:100%;background:url('/common/images/board/mask.png');font-size:0;line-height:180px;}
.bbs_movie ul.list li a .photo img{max-width:100%;max-height:180px;vertical-align:middle}
.bbs_movie ul.list li a .subject,.bbs_movie ul.list li a:focus .subject{display:block;overflow: hidden;margin:10px 5px 0;line-height:1.3em;white-space: nowrap;text-overflow: ellipsis;}
.bbs_movie ul.list li a .author{font-size:0.85em}
.bbs_movie ul.list li a .date{font-size:0.85em;color:#888}
.bbs_movie ul.list .empty{padding:10px 0;border-bottom:1px solid #e7e7e7;text-align:center;}
.bbs_movie ul.list li.delete .delete_info{font-size:11px;color:#2e84d1;vertical-align:center;font-family: dotum;}
.bbs_movie ul.list li.delete .subject{color:#aaa}
.bbs_movie ul.list li .ico_group{position:absolute;top:5px;left:5px;z-index:10}
.bbs_movie ul.list li .ico_group .bbs_ico{margin-left:0;margin-right:1px}
.bbs_movie ul.list li .is_movie{overflow:hidden;position:absolute;z-index:20;top:50%;left:50%;width:60px;height:60px;margin:-50px 0 0 -30px;background:url("/common/images/board/bbs_icon.png") no-repeat 0 -250px;font-size:0;text-indent: -100%;}
*:first-child+html .bbs_movie ul.list li a .photo {width:100%;}
*:first-child+html .bbs_movie ul.list li a .photo img{width:100%;height:180px}

.bbs_movie ul.list.subject_over .date{display:none}
.bbs_movie ul.list.subject_over .subject{position:absolute;bottom:0;left:0;width:96%;margin:0;padding:8px 2%;background:url('/common/images/board/mask2.png') ;color:#fff;text-align:left}
.bbs_movie ul.list.subject_over .is_movie{margin-top:-30px}

@media only screen and  (max-width:756px){
    .bbs_movie ul.list li{width:30%;}
}
@media only screen and (max-width:640px){
    .bbs_movie ul.list li{width:47%; min-height:140px}
    .bbs_movie ul.list li a .photo {line-height:140px}
    .bbs_movie ul.list li a .photo img{max-height:140px;}
    .bbs_movie ul.list li.delete .delete_info{display:none}
    .bbs_movie ul.list li .checkbox{display:none}
    .bbs_movie ul.list li .is_movie{margin:-45px 0 0 -30px;}
    .bbs_movie ul.list.subject_over .is_movie{margin-top:-35px}
}


/* 동영상 상세보기 */
.movie_view{border-top: 2px solid #151515;border-bottom:1px solid #e9e9e9}
.movie_view h2.movie_title{margin:5px 0;padding:10px 0 20px;}
.movieArea {position:relative;margin:0 0 25px;}
.movieArea .movie {position:absolute;left:0;top:0;width:360px;background-color:#333;}
.movieArea .movie video{width:100%;height:262px;vertical-align: top}
.movieArea .movie object{width:360px;height:240px;vertical-align: top;}
.movieArea .note{margin-left:380px;}
.movieArea .noteArea{height:260px;border:1px solid #e9e9e9;}
.movieArea .noteArea > div{overflow-y:scroll;position:relative;height:92%;padding:2% 10px;}

@media only screen and (max-width:640px){
    .movie_view{border-bottom:none}
    .movieArea .movie {width:100%;text-align:center}
    .movieArea .movie{position:relative;}
    .movieArea .movie{position:relative;}
    .movieArea .note{margin-top:30px;margin-left:0;}
    .movieArea .noteArea{height:240px;border:1px solid #e9e9e9;}
}

/* 뉴스형 게시판 */
.bbs_news {border-top: 2px solid #151515;}
.bbs_news .list {width:100%;margin:5px 0; }
.bbs_news .list li {width:100%;padding:15px 0; border-bottom:1px solid #e8e8e8;}
.bbs_news .list li:after {visibility:hidden; display:block; clear:both; content:"."; height:0;width:0; font-size:0;}
.bbs_news .list li {display: inline-block;}
.bbs_news .list li {display: block;}
.bbs_news .list li a {display: block;}
.bbs_news .list .photo{display:inline-block;float:left;margin:2px 0 0;padding:0 3px 3px 0; }
.bbs_news .list .photo input, .bbs_news .list .photo img{vertical-align:middle}
.bbs_news .list .photo input{margin-right:5px}
.bbs_news .list .photo img{width:140px;height:90px;padding:3px;border:1px solid #e9e9e9}
.bbs_news .list .substance{display:block;margin:0 0 0 170px;padding-top:5px}
.bbs_news .list .subject{display:block;margin:0 0 8px;font-size:1.12em;letter-spacing:-1px; line-height:20px;}
.bbs_news .list a .subject  {color:#333;}
.bbs_news .list a:hover {text-decoration:none}
.bbs_news .list  .text{display:block;overflow:hidden;position:relative;max-height:45px;text-overflow: ellipsis;}
/* display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical; */
.bbs_news .list .delete .subject{color:#aaa }
.bbs_news .list .date {display:block;margin-top:5px;font-size:0.95em;color:#afafaf; }
.bbs_news .list .no_img .substance{margin-left:20px;}

@media only screen and (max-width:640px){
    .bbs_news .list .photo img{width:100px;height:75px}
    .bbs_news .list .substance{display:block;margin:0 0 0 115px}
    .bbs_news .checkbox{display:none}
}


/* 갤러리 게시판 */

/*  width, height 조정시 수정 필요
.bbs_gallery ul.list li 의 width, min-height
.bbs_gallery ul.list li a .photo 의 line-height
.bbs_gallery ul.list li a .photo img 의  max-height
 */

.bbs_gallery{overflow:hidden;width:100%;margin:5px 0;border-top: 2px solid #151515; border-bottom: 1px solid #e9e9e9;}
.bbs_gallery ul.list {width:104%;margin:10px -1.4%;}
.bbs_gallery ul.list li{display:inline;overflow:hidden;float:left;width:30%;margin:10px 1.4% 15px;min-height:180px;}
.bbs_gallery ul.list li a {display:block;position:relative;border:1px solid #e9e9e9;text-align: center}
.bbs_gallery ul.list li a span{display:inline-block}
.bbs_gallery ul.list li a .photo {display:block;overflow:hidden;position:relative;max-width:100%;height:100%;background:url('/common/images/board/mask.png');font-size:0;line-height:180px;}
.bbs_gallery ul.list li a .photo img{max-width:100%;max-height:180px;vertical-align:middle}
.bbs_gallery ul.list li a:hover .photo img{transform: scale(1.2);  transition: all 400ms;}
.bbs_gallery ul.list li a .subject,.bbs_gallery ul.list li a:focus .subject{overflow: hidden;display:block;margin:10px 5px 0;line-height:1.3em;white-space: nowrap;text-overflow: ellipsis;}
.bbs_gallery ul.list li a .author{font-size:0.85em}
.bbs_gallery ul.list li a .date{font-size:0.85em;color:#888}
.bbs_gallery ul.list .empty{padding:10px 0;border-bottom:1px solid #e7e7e7;text-align:center;}
.bbs_gallery ul.list li.delete .delete_info{font-size:11px;color:#2e84d1;vertical-align:center;}
.bbs_gallery ul.list li.delete .subject{color:#aaa}
.bbs_gallery ul.list li .ico_group{position:absolute;top:5px;left:5px;z-index:10}
.bbs_gallery ul.list li .ico_group .bbs_ico{margin-left:0;margin-right:1px}
*:first-child+html .bbs_gallery ul.list li a .photo {width:100%;}
*:first-child+html .bbs_gallery ul.list li a .photo img{width:100%;height:180px}

.bbs_gallery ul.list.subject_over .date{display:none}
.bbs_gallery ul.list.subject_over .subject{position:absolute;bottom:0;left:0;width:96%;margin:0;padding:8px 2%;background:url('/common/images/board/mask2.png') ;color:#fff;text-align:left}

/* 석탄박물관 - 유물정보 */
.bbs_gallery.relic_list{}
.bbs_gallery.relic_list ul.list{width:103%;}
.bbs_gallery.relic_list ul.list li{width:17.15%;}
.bbs_gallery.relic_list ul.list li a .photo{line-height:140px}
.bbs_gallery.relic_list ul.list li a .photo img{max-height:140px;}
@media only screen and  (max-width:1000px){
	.bbs_gallery.relic_list ul.list li{width:22.1%;}
}
@media only screen and  (max-width:800px){
	/* 석탄박물관 - 유물정보 */
	.bbs_gallery.relic_list ul.list li{width:30.5%;}
    .bbs_gallery.relic_list[data-photo-type="fixed"] ul.list li a .photo{width:auto;max-width:100%;}
    .bbs_gallery.relic_list[data-photo-type="fixed"] ul.list li a .photo img{max-width:100%;}
}
@media only screen and  (max-width:756px){
    .bbs_gallery ul.list li{width:30%;}
    .bbs_gallery[data-photo-type="fixed"] ul.list li a .photo{width:auto;max-width:100%;}
    .bbs_gallery[data-photo-type="fixed"] ul.list li a .photo img{max-width:100%;}
}
@media only screen and (max-width:640px){
    .bbs_gallery ul.list li{width:47%; min-height:140px}
    .bbs_gallery ul.list li a .photo {line-height:140px}
    .bbs_gallery ul.list li a .photo img{max-height:140px;}
    .bbs_gallery ul.list li.delete .delete_info{display:none}
    .bbs_gallery ul.list li .checkbox{display:none}

	/* 석탄박물관 - 유물정보 */
	.bbs_gallery.relic_list ul.list li{width:47%; min-height:140px}
    .bbs_gallery.relic_list ul.list li a .photo {line-height:140px}
    .bbs_gallery.relic_list ul.list li a .photo img{max-height:140px;}
    .bbs_gallery.relic_list ul.list li.delete .delete_info{display:none}
    .bbs_gallery.relic_list ul.list li .checkbox{display:none}
}
@media only screen and (max-width:414px){
	.tblove_search.relic_info_top{text-align:left;}
	.relic_info_top > div{float:none;}
}


/* 갤러리 게시판  - 사진위 제목 over 되는 type */
/*
width, height 조정시 수정 필요
.bbs_gallery ul.list li 의 width, min-height
.bbs_gallery ul.list li a .photo 의 line-height
.bbs_gallery ul.list li a .photo img 의  max-height
 */

.bbs_gallery.type2{overflow:hidden;width:100%;margin:5px 0;border-top: 2px solid #151515; border-bottom: 1px solid #e9e9e9;}
.bbs_gallery.type2 ul.list {width:104%;margin:10px -1.4%;}
.bbs_gallery.type2 ul.list li{display:inline;overflow:hidden;float:left;width:30%;margin:10px 1.4% 15px;min-height:180px;}
.bbs_gallery.type2 ul.list li a {display:block;position:relative;border:1px solid #e9e9e9;text-align: center}
.bbs_gallery.type2 ul.list li a span{display:inline-block}
.bbs_gallery.type2 ul.list li a .photo {display:block;overflow:hidden;position:relative;max-width:100%;height:100%;background:url('/common/images/board/mask.png');font-size:0;line-height:180px;}
.bbs_gallery.type2 ul.list li a .photo img{max-width:100%;max-height:180px;vertical-align:middle}
.bbs_gallery.type2 ul.list li a:hover .photo img{transform: scale(1.2);  transition: all 400ms;}
.bbs_gallery.type2 ul.list li a .photo.hover:before{content:"";position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;background:url(/common/images/board/mask3.png)}
.bbs_gallery.type2 ul.list li a .photo.hover:after{content:"";position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;background:url(/common/images/board/icon_over.png) no-repeat 50% 50%}
.bbs_gallery.type2 ul.list li a .subject{position:absolute;bottom:0;left:0;width:96%;margin:0;padding:8px 2%;background:url('/common/images/board/mask2.png') ;color:#fff;text-align:left}
.bbs_gallery.type2 ul.list li a .author{font-size:0.85em}
.bbs_gallery.type2 ul.list li a .date{display:none}
.bbs_gallery.type2 ul.list .empty{padding:10px 0;text-align:center;border-bottom:1px solid #e7e7e7}
.bbs_gallery.type2 ul.list li.delete .delete_info{font-size:11px;color:#2e84d1;vertical-align:center;}
.bbs_gallery.type2 ul.list li.delete .subject{color:#aaa}
.bbs_gallery.type2 ul.list li .ico_group{position:absolute;top:5px;left:5px;z-index:10}
.bbs_gallery .type2ul.list li .ico_group .bbs_ico{margin-left:0;margin-right:1px}
*:first-child+html .bbs_gallery.type2 ul.list li a .photo {width:100%;}
*:first-child+html .bbs_gallery.type2 ul.list li a .photo img{width:100%;height:180px}


@media only screen and  (max-width:756px){
    .bbs_gallery.type2 ul.list li{width:30%;}
    .bbs_gallery.type2[data-photo-type="fixed"] ul.list li a .photo{width:auto;max-width:100%;}
    .bbs_gallery.type2[data-photo-type="fixed"] ul.list li a .photo img{max-width:100%;}
}
@media only screen and (max-width:640px){
    .bbs_gallery.type2 ul.list li{width:47%; min-height:140px}
    .bbs_gallery.type2 ul.list li a .photo {line-height:140px}
    .bbs_gallery.type2 ul.list li a .photo img{max-height:140px;}
    .bbs_gallery.type2 ul.list li.delete .delete_info{display:none}
    .bbs_gallery.type2 ul.list li .checkbox{display:none}
}

/* 개인정보 처리 방침 동의 */
.bbs_agree_guide{margin-top:30px;padding-bottom:10px;border-bottom:1px solid #e0e0e0}
.bbs_agree {margin-top:30px}
.bbs_agree h2{}
.bbs_agree h3{margin:15px 0 8px;font-size:1.1em;color:#333}
.bbs_agree ul li{font-size:1em;margin:4px 0 2px 17px;padding-left:10px;background: url(/common/images/board/agree_bu.png) no-repeat 0 8px}
.bbs_agree ul li li{margin:2px 0 2px 10px;background: url(/common/images/board/agree_bu2.png) no-repeat 0 9px}

.bbs_privacy_button{margin:30px 0;padding:15px;border:1px solid #e0e0e0;text-align:center}
.bbs_privacy_button p{margin-bottom:10px;font-size:1.1em;}
.bbs_privacy_button .item{margin: 0 15px;}
.bbs_btn_wrap.agree{padding:20px 0;}
.bbs_btn_wrap.agree .bbs_btn{margin:0 5px}
.bbs_btn_wrap.agree .bbs_btn span{min-width:100px;padding:5px 50px;}
.bbs_btn_wrap.agree .bbs_btn.agree {border:1px solid #333;background:#333;color:#fff}
@media only screen and (max-width:640px){
    .bbs_btn_wrap.agree .bbs_btn span{min-width:inherit;padding:2px 35px;}
}

/* ====== 대표 ===== */
/*게시판 - 문화예술회관 영화상영기획공연*/
.bbs_film{overflow:hidden;width:100%;margin:5px 0;border-top: 2px solid #151515; border-bottom: 1px solid #e9e9e9;}
.bbs_film ul.list {width:101%;margin:10px -1%;}
.bbs_film ul.list li{display:inline;overflow:hidden;float:left;width:32.333333%;margin:5px 0 5px 1%;min-height:445px;}
.bbs_film ul.list li a {display:block;position:relative;color:#000; text-align: center}
.bbs_film ul.list li a span{display:inline-block; letter-spacing: -0.05em;}
.bbs_film ul.list li a .photo {display:block;overflow:hidden;position:relative;width:269px;height:356px;margin:0 auto;background:url('/common/images/board/mask.png');border:1px solid #e9e9e9;font-size:0;line-height:356px;}
.bbs_film ul.list li a .photo img{max-width:100%;max-height:356px;vertical-align:middle}
.bbs_film ul.list li a .photo_info { width:269px; height:130px; margin:10px auto 0; border:1px solid #e9e9e9;}
.bbs_film ul.list li a:hover .photo img{transform: scale(1.1);  transition: all 400ms;}
.bbs_film ul.list li a .subject{overflow: hidden;display:block;margin:15px 10px 0; font-size:17px; font-weight:600; line-height:1.3em;white-space: nowrap;text-overflow: ellipsis;}
.bbs_film ul.list li a .author{font-size:0.85em}
.bbs_film ul.list li a .date{ margin-top:8px; font-size:15px;line-height: 16px; color:#686868;}
.host, .inquiry, .entry{color:#686868;}
.bbs_film ul.list .empty{padding:10px 0;border-bottom:1px solid #e7e7e7;text-align:center;}
.bbs_film ul.list li.delete .delete_info{font-size:11px;color:#2e84d1;vertical-align:center;}
.bbs_film ul.list li.delete .subject{color:#aaa}
*:first-child+html .bbs_film ul.list li a .photo {width:100%;}
*:first-child+html .bbs_film ul.list li a .photo img{width:100%;height:180px}

.bbs_film ul.list.subject_over .date{display:none}
.bbs_film ul.list.subject_over .subject{position:absolute;bottom:0;left:0;width:96%;margin:0;padding:8px 2%;background:url('/common/images/board/mask2.png') ;color:#fff;text-align:left}

@media only screen and  (max-width:1000px){
    .bbs_film[data-photo-type="fixed"] ul.list li a .photo{width:auto;max-width:100%;}
    .bbs_film[data-photo-type="fixed"] ul.list li a .photo img{max-width:100%;}

    .bbs_film ul.list li{width:47%; min-height:300px}
    .bbs_film ul.list li a .photo { width:100%; height:200px; line-height:200px;box-sizing:border-box;}
    .bbs_film ul.list li a .photo img{max-height:200px;}
	.bbs_film ul.list li a .photo_info { width:100%; box-sizing:border-box;}
    .bbs_film ul.list li.delete .delete_info{display:none}
    .bbs_film ul.list li .checkbox{display:none}
}
@media only screen and  (max-width:480px){
	.bbs_film ul.list li{width:100%; margin-left:0;}
}

/*게시판 - 시정소식지*/
.bbs_ebook{overflow:hidden;width:100%;margin:5px 0;border-top: 2px solid #151515; border-bottom: 1px solid #e9e9e9;}
.bbs_ebook ul.list {width:101%;margin:10px -1%;}
.bbs_ebook ul.list li{display:inline;overflow:hidden;float:left;width:32.333333%;margin:5px 0 5px 1%;min-height:190px;}
.bbs_ebook ul.list li .photo_group {display:block;position:relative;padding:20px ;border:1px solid #e9e9e9;text-align: center}
.bbs_ebook ul.list li .photo_group span{display:inline-block}
.bbs_ebook ul.list li .photo_group .photo {display:block;overflow:hidden;position:relative; height:190px;margin:0 auto 20px;background:#f2f2f2;font-size:0;line-height:190px;}
.bbs_ebook ul.list li .photo_group .photo img{max-width:100%;max-height:190px;vertical-align:middle}
.bbs_ebook ul.list li .photo_group:hover .photo img{transform: scale(1.2);  transition: all 400ms;}
.bbs_ebook ul.list li .photo_group .subject{overflow: hidden;display:block;margin:10px 5px 5px; font-size:17px; color:#505050;  font-weight:600; line-height:1.3em;white-space: nowrap;text-overflow: ellipsis;}
.bbs_ebook ul.list li .photo_group .author{font-size:0.85em}
.bbs_ebook ul.list li .photo_group .date{ display:block; margin-bottom:10px;  font-size:14px;color:#8c8c8c}
.bbs_ebook ul.list .empty{padding:10px 0;border-bottom:1px solid #e7e7e7;text-align:center;}
.bbs_ebook ul.list li.delete .delete_info{font-size:11px;color:#2e84d1;vertical-align:center;}
.bbs_ebook ul.list li.delete .subject{color:#aaa}
.bbs_ebook ul.list li .ico_group{position:absolute;top:5px;left:5px;z-index:10}
.bbs_ebook ul.list li .ico_group .bbs_ico{margin-left:0;margin-right:1px}
*:first-child+html .bbs_ebook ul.list li .photo_group .photo {width:100%;}
*:first-child+html .bbs_ebook ul.list li .photo_group .photo img{width:100%;height:190px}

.bbs_ebook ul.list.subject_over .date{display:none}
.bbs_ebook ul.list.subject_over .subject{position:absolute;bottom:0;left:0;width:96%;margin:0;padding:8px 2%;background:url('/common/images/board/mask2.png') ;color:#fff;text-align:left}

@media only screen and  (max-width:756px){
    .bbs_ebook ul.list li{width:30%;}
    .bbs_ebook[data-photo-type="fixed"] ul.list li .photo_group .photo{width:auto;max-width:100%;}
    .bbs_ebook[data-photo-type="fixed"] ul.list li .photo_group .photo img{max-width:100%;}
}
@media only screen and (max-width:640px){
    .bbs_ebook ul.list li{width:47%; min-height:140px}
    .bbs_ebook ul.list li .photo_group .photo {line-height:140px}
    .bbs_ebook ul.list li .photo_group .photo img{max-height:100%;}
    .bbs_ebook ul.list li.delete .delete_info{display:none}
    .bbs_ebook ul.list li .checkbox{display:none}
}
@media only screen and  (max-width:480px){
	.bbs_ebook ul.list li{width:100%; margin-left:0;}
}

/* 게시판 - 태백사랑상품권 가맹업소관리 현황*/
.tblove_search {text-align: right;}
.tblove_search .input_text{width:200px;height:28px;line-height:28px;}
.tblove_search .submit{padding:1px 20px;border: 1px solid #686868;background:#686868;color: #fff;}
.tblove_search .submit:hover{border: 1px solid #151515;background:#151515;}

.tblove_total { color:#444;}
.bbs_tblove ul.list {border-left:1px solid #dadada; border-top:1px solid #000;}
.bbs_tblove ul.list li { float:left; width:20%; text-align:center;}
.bbs_tblove ul.list li a { display:block; height:80px; padding:20px; border:1px solid #dadada; border-left:none;border-top:none; text-decoration:none; transition:all 0.2s ease-in-out;}
.bbs_tblove ul.list li a span { display:block;}
.bbs_tblove ul.list li a span.tit { overflow:hidden; height:50px;  font-size:17px; color:#2f2f2f; line-height:20px;}
.bbs_tblove ul.list li a span.text { background:#fff; border:1px solid #b7b7b7; color:#c96800; font-size:15px; font-weight:600;  line-height:30px; }
.bbs_tblove ul.list li a:hover { background:#c96800;}
.bbs_tblove ul.list li a:hover span.tit { color:#fff;}


@media only screen and  (max-width:1000px){
	.bbs_tblove ul.list li {  width:25%; }
}


@media only screen and  (max-width:640px){
	.bbs_tblove ul.list li {  width:50%; }
}

/* 220620 스태프페이지 김진솔 */
#admin_content table.bbs_default tbody td{vertical-align:middle;}
#admin_content .select_width{padding-right:40px;}