@charset "UTF-8";

/* 공통 스타일 */
html,body{position:relative;}
/* 새창표시(전사이트 공통) */
.blank,.tab_menu .blank{display:inline-block;opacity:inherit;width:15px;height:11px;margin:0 0 2px 5px;background:url(../images/common/ico_blank.png) no-repeat left top;vertical-align:middle;}
.blank.type2,.tab_menu .blank.type2{background-position:right top;}
/* 이미지 없음*/
.no_img{position:relative;background-color:#f8f8f8;}
.no_img img,#contents .no_img img{position:absolute;top:0;left:0;bottom:0;right:0;width:auto;height:59%;max-height:170px;margin:auto;}
/*.blur{filter:blur(5px);-webkit-filter:blur(5px);-moz-filter:blur(5px);-ms-filter:progid:DXImageTransform.Microsoft.BLur(PixelRadius="5");}*/
#contents .no_element{width:94%;padding:30px 3%;margin:0;border-top:2px solid #222;border-bottom:1px solid #dadada;font-size:15px;line-height:17px;text-align:center;}
#contents .no_element li{width:100%;margin:0;}
/* wrap 공통 */
.wrap{max-width:1200px;width:100%;margin:0 auto;}
@media all and (max-width:999px) {
  .wrap{width:100%;}
}
/* 검색 */
.search{float:left;position:relative;width:60px;height:60px;margin:0;padding:0;background:none;border:none;}
.src_btn{display:block;position:absolute;right:0;width:60px;height:60px;background:url(../images/sub/sub_sprite_image.png) #1e2d51 no-repeat -322px -44px;border-radius:30px;}
.src_btn.on{background-position:-342px -91px;}
.src_btn span{display:none;}
.search_detail{display:none;position:absolute;top:68px;right:0;z-index:100;padding:30px 50px;background-color:#115ca0;}
.src_form{position:relative;z-index:1;width:410px;margin:0;background-color:#fff;}
.src_form span{display:inline-block;}
.src_form select,.src_form input[type="text"]{border:none;height:43px;margin:0;padding:0 10px;}
.src_form input[type="text"]{width:200px;}
.src_form input[type="submit"]{display:block;position:absolute;top:0;right:0;height:44px;padding:0 15px;background-color:#1e2d51;color:#fff;font-size:18px;font-weight:400;line-height:44px;}
.src_keyword{position:relative;padding:17px 0 0 110px;border-top:1px solid #417db3;}
.src_keyword h3{position:absolute;top:-1px;left:0;padding:13px 0 0 0;border-top:2px solid #fff;color:#ffe775;font-size:16px;font-weight:400;line-height:18px;vertical-align:middle;}
.src_keyword h3 i{display:inline-block;width:18px;height:18px;margin:0 10px 0 0;background:url(../images/sub/sub_sprite_image.png) no-repeat -408px -246px;vertical-align:middle;}
.keyword_list li{float:left;position:relative;width:33.333333%;}
.keyword_list a{display:block;color:#fff;font-size:14px;line-height:16px;text-align:center;vertical-align:middle;}
.keyword_list i{display:block;position:absolute;top:0;bottom:0;left:0;width:0;height:7px;margin:auto 0;border-left:1px dotted #a9c4dd;}
.keyword_list li:first-child i{display:none;}

/* Banner 모음 */
.banner{background:#fff;margin:30px 0 0 0;padding:25px 0;border-top:1px solid #dfdfdf;}
.banner .wrap{position:relative;}
.banner h2{position:absolute;left:0;top:50%;margin-top:-10px;color:#1b1b1b;font-size:17px;font-weight:500;line-height:19px;}
.banner_controller{position:absolute;right:0;top:50%;height:24px;margin-top:-12px;}
.banner_controller button,.banner_controller a{display:block;float:left;margin:0 0 0 -1px;padding:0;background:url(/site/museum/images/sub/sub_sprite_image.png) no-repeat;border:1px solid #e7e7e7;font-size:0;line-height:0;}
.banner_controller button{width:26px;height:24px;}
.banner_controller a{width:24px;height:22px;background-position:-231px -27px;border-radius:0 15px 15px 0;}
.banner_controller .banner_prev{background-position:-127px -27px;border-radius:15px 0 0 15px ;}
.banner_controller .banner_ctrl{background-position:-153px -27px;}
.banner_controller .banner_ctrl.play{background-position:-178px -27px;}
.banner_controller .banner_next{background-position:-204px -27px;}
.banner_wrap{position:relative;width:85%;height:24px;margin:0;padding:0 0 0 7%;overflow:hidden;}
.banner_wrap li{display:inline-block;float:left;height:43px;padding:0 0 0 25px;background:url(/site/museum/images/sub/sub_sprite_image.png) no-repeat -410px 8px;}
.banner_wrap li > a{display:inline-block;padding:0 25px 0 0;overflow:hidden;}
.banner_wrap a i{display:none;width:15px;height:12px;margin:0 5px;/* background:url(../images/common/common_bottom_image.png) no-repeat -144px -64px; */vertical-align:middle;}
.banner_wrap li > a:hover{padding:0;border-bottom:1px solid #000;text-decoration:none;}
.banner_wrap a:hover i{display:inline-block;}
@media all and (max-width:1200px) {
  .banner_wrap{width:calc(100% - 200px);padding:0 0 0 200px;}
}
@media all and (max-width:640px) {
  .banner_wrap{width:100%;height:55px;padding:0;}
  .banner_wrap h2{position:static;top:inherit;left:inherit;margin:0 0 10px 10px;}
  .banner_wrap .banner_controller{top:0;left:inherit;right:10px;margin:0;}
  .banner_wrap li > a{padding:0;}
  .banner_wrap a i{display:inline-block;}
}
/* 사이트 이동 */
.site_link{display:block;position:relative;width:100%;height:45px;margin:0;background:#757575;z-index:10;}
.site_link .wrap{position:relative;}
.sitelink_cont{display:block;float:left;position:relative;width:20%;margin:0;transition:all .5s;}
.sitelink_cont h3{display:block;height:45px;border-right:1px solid #9a9a9b;}
.sitelink_cont h3 button{display:block;position:relative;width:86%;height:45px;margin:0 7%;padding:0;border:none;color:#fff;font-weight:200;line-height:45px;text-align:left;}
.sitelink_cont h3 button i{display:block;position:absolute;top:50%;right:0;width:24px;height:24px;margin:-12px 0 0 0;background:url(/site/www/images/common/common_sprite_image.png) no-repeat -201px -250px;}
.sitelink_cont .layer{display:none;position:absolute;left:0;bottom:0;width:100%;z-index:100;padding:0;background-color:#757575;}
.sitelink_cont .layer .close{display:block;position:absolute;right:10px;top:10px;z-index:10;width:30px;height:30px;margin:0;padding:0;background:url(/site/www/images/common/common_sprite_image.png) no-repeat -221px -245px;color:transparent;font-size:0;line-height:0;text-indent:-9999px;}
.sitelink_cont.first h3{border-left:1px solid #9a9a9b;}
.link_part strong{width:92%;height:50px;padding:0 0 0 8%;color:#fff;line-height:50px;}
.link_part ul{padding:15px 5px;background-color:#fff;border:2px solid #757575;}
.link_part li{display:block;float:left;width:50%;}
.link_part .single li{width:100%;}
.link_part .sitelink_list1 li,.link_part .sitelink_list3 li,.link_part .sitelink_list5 li{width:100%;}
.link_part a{display:block;margin:0 0 0 5px;padding:2px 0 0 10px;color:#606060;font-size:13px;}
@media all and (max-width:800px) {
  .site_link{height:auto;}
  .sitelink_cont{width:33.333333%;}
  .sitelink_cont h3{border-bottom:1px solid #5f6570;}
}
@media all and (max-width:640px) {
  .sitelink_cont{width:50%;}
}
@media all and (max-width:414px) {
  .sitelink_cont{width:100%;}
  .sitelink_cont h3{height:40px;}
  .sitelink_cont h3 button{height:40px;line-height:40px;}
  .sitelink_cont .layer{bottom:40px;}
}
/* footer site info */
#footer{background-color:#fff;}
@media print {
  #footer{display:none;}
}
#footer > .wrap{position:relative;padding:0 0 20px 0;}
.footer_logo{position:absolute;top:0;left:0;width:139px;height:49px;background:url(/site/www/images/common/common_sprite_image.png) no-repeat left -203px;color:transparent;font-size:0;line-height:0;}
.footer_navi{position:relative;padding:20px 0;margin:0 0 25px 0;border-bottom:1px solid #ececeb;}
.footer_navi li{float:left;}
.footer_navi > ul > li > a{margin:0 0 0 12px;padding:0 0 0 17px;background:url(/site/www/images/common/common_sprite_image.png) no-repeat -149px -199px;color:#525252;}
.footer_navi .privacy a{color:#006d38;}
.footer_navi > ul > li:first-child a{margin:0;padding:0;background:none;}
.footer_navi .top_btn{display:block;position:absolute;right:0;top:0;width:68px;height:68px;padding:1px;background-color:#9c9c9c;color:#fff;font-size:13px;font-weight:500;line-height:15px;text-align:center;}
.footer_navi .top_icon{display:block;width:68px;height:15px;margin:18px 0 10px;background:url(/site/www/images/common/common_sprite_image.png) no-repeat -131px -257px;vertical-align:middle;}
.footer_info{position:relative;padding:0 0 0 183px;}
.footer_info address{color:#696969;}
.footer_info address span{margin:0 0 0 20px;}
.footer_info .copyright{margin:0 0 12px;}
.footer_info .copyright span{color:#f7941d;}
.footer_info .mail_info{color:#777;}
@media all and (max-width:800px) {
  #footer > .wrap{padding:15px 0;}
  .footer_logo{display:none;}
  .footer_navi,.footer_info{margin:0 10px 10px 10px;}
}
@media screen and (max-width:640px) {
  .footer_info address span{display:block;margin:0;}
}
/* 페이지 실제 파일 경로 */
#contentsInfo{margin:50px 0 0 0;padding:10px 3%;border-top:1px solid #dadada;word-break:break-all;}
.contents_empty{text-align:center;}


.submit{border:1px solid #000;background-color:#000;color:#fff; padding:7px 0 7px;font-size:15px;line-height:21px;}