@charset "UTF-8";

/* 공통 스타일 */
html,body{position:relative;}
/* 새창표시(전사이트 공통) */
.wrap{width:100%;max-width:1200px;margin:0 auto;}
@media all and (max-width:1200px) {
    .wrap{}
}
/* logo */
h1{margin:0 0 35px;}
.logo,.logo:link{display:block;width:178px;height:64px;margin:0 auto;background:url(/common/images/program/login_sprite.png) no-repeat left top;color:transparent;font-size:1px;line-height:1px;}
.intro_text{margin:45px 0;text-align:center;}
/* login_box */
.login_box{padding:35px 0;background:url(/common/images/sub/box1_pattern1.gif) repeat;border-top:3px solid #000;border-bottom:3px solid #000;}
.login_tab{position:relative;width:100%;max-width:1200px;margin:0 auto;}
.login_tab > li{float:left;width:100%;}
.button_wrap{position:absolute;top:-60px;right:0;width:50%;}
.login_tab li:first-child .button_wrap{left:0;right:inherit;}
.login_tab button{display:block;width:170px;height:50px;margin:0 auto 0 2px;padding:0;background-color:#7d7d7d;border:none;border-radius:25px;}
.login_tab button.active{background-color:#007653;}
.login_tab li:first-child button{margin:0 2px 0 auto;}
.login_tab button span{display:block;color:#d8d8d8;font-size:18px;line-height:50px;}
.login_tab button.active span{color:#fff;}
.tabcontent{display:none;width:100%;}
.tabcontent p{text-align:center;}
.certify_login{width:100%;max-width:720px;margin:25px auto;}
.certify_login > li{float:left;width:50%;}
.certify_login .inner_line{width:100%;max-width:338px;margin:0 auto;padding:25px 0;background-color:#fff;border:1px solid #000;border-radius:5px;text-align:center;}
.certify_title{display:block;margin:0 0 20px;color:#1b1b1b;font-size:22px;font-weight:500;line-height:24px;text-align:center;}
.certify_title span{color:#cf6c02;}
.certify_login p{margin:0 10px;font-size:14px;line-height:18px;letter-spacing:-1px;}
.certify_login p span{display:block;}
.certify_login .login_icon{display:block;width:65px;height:78px;margin:20px auto;background:url(/common/images/program/login_sprite.png) no-repeat;}
.certify_login .login_icon.icon1{background-position:-293px -88px;}
.certify_login .login_icon.icon2{background-position:-212px -79px;}
.certify_login .login_icon.icon3{margin-top:0;background-position:-123px -81px;}
.part_login li{position:relative;margin:0 7% 5px;padding:0 0 0 60px;}
.part_login label{display:block;position:absolute;top:0;left:0;width:53px;height:40px;font-size:14px;letter-spacing:-1px;line-height:40px;text-align:right;}
.part_login span{display:block;height:28px;padding:5px;background-color:#fff;border:1px solid #868686;}
.part_login input{display:block;width:100%;height:28px;margin:0;padding:0;background-color:transparent;border:none;line-height:28px;vertical-align:middle;}
.certify_btn{display:inline-block;padding:10px 20px;border:1px solid #868686;color:#2b2b2b;font-size:14px;font-weight:500;line-height:16px;}
.certify_btn i{display:inline-block;width:4px;height:8px;margin:0 0 0 20px;background:url(/common/images/program/login_sprite.png) no-repeat -116px -116px;vertical-align:middle;}
.certify_login .login_btn{display:block;width:86%;height:inherit;margin:10px 7% 0;padding:15px 0;background-color:#2c61ad;color:#fff;font-size:14px;font-weight:500;line-height:16px;}
@media all and (max-width:1000px) {
    .intro_text p{margin:0 10px;}
    .tabcontent p br{display:none;}
}
@media all and (max-width:717px) {
    .certify_login > li{position:relative;width:100%;margin:5px 0;}
    .certify_login .inner_line{width:calc(100% - 22px);max-width:inherit;}
    .certify_login p{margin:0 10px 0 100px;text-align:left;}
    .certify_login p span{display:inline;margin:0 7px;}
    .login_icon.icon1,.login_icon.icon2{position:absolute;top:50px;left:20px;transition:all .3s;}
    .certify_btn{display:block;margin:10px 10px 0 100px;}
}
@media all and (max-width:414px) {
    .login_tab button{width:calc(100% - 2px);}
    .login_icon.icon1,.login_icon.icon2{top:50%;left:25px;margin:-39px 0 0 0;transition:all .3s;}
}
/* footer site info */
#footer{background-color:#fff;}
@media print {
    #footer{display:none;}
}
#footer > .wrap{position:relative;padding:0 0 20px 0;}
.footer_logo{position:absolute;top:0;left:0;width:139px;height:49px;background:url(/common/images/program/login_sprite.png) no-repeat -188px 1px;color:transparent;font-size:0;line-height:0;}
.footer_navi{position:relative;padding:20px 0;margin:0 0 25px 0;border-bottom:1px solid #ececeb;}
.footer_navi li{float:left;}
.footer_navi li a{margin:0 0 0 12px;padding:0 0 0 17px;background:url(/common/images/program/login_sprite.png) no-repeat 1px -82px;color:#525252;}
.footer_navi .privacy a{color:#006d38;}
.footer_navi li:first-child a{margin:0;padding:0;background:none;}
.footer_navi .top_btn{display:block;position:absolute;right:0;top:0;width:68px;height:68px;padding:1px;background-color:#9c9c9c;color:#fff;font-size:13px;font-weight:500;line-height:15px;text-align:center;}
.footer_navi .top_icon{display:block;width:68px;height:15px;margin:18px 0 10px;background:url(/common/images/program/login_sprite.png) no-repeat -159px -150px;vertical-align:middle;}
.footer_info{position:relative;padding:0 0 0 183px;}
.footer_info address{color:#696969;}
.footer_info address span{margin:0 0 0 20px;}
.footer_info .copyright{margin:0 0 12px;}
.footer_info .copyright span{color:#f7941d;}
.footer_info .mail_info{color:#777;}
@media all and (max-width:1000px) {
    .footer_navi ul{margin:0 75px 0 10px;}
}
@media all and (max-width:800px) {
    #footer > .wrap{padding:0 0 15px 0;}
    .footer_logo{display:none;}
    .footer_navi{margin:0 0 10px 0;}
    .footer_info{margin:0 0 10px 0;padding:10px;}
}
@media all and (max-width:640px) {
    .footer_info address span{display:block;margin:0;}
}